.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  /* transform: translateY(-100%); */
  z-index: 2;
  bottom: 40px;
  right: calc(var(--gutter) + 40px);
  /* min-height: calc(100dvh - (var(--header-height) * 2) - (var(--space-lg) * 2)); */
}

.manifesto {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  letter-spacing: -0.01em;
  color: var(--color-text-primary);
}
