.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: calc(100vh - 150px);
  padding: 0 0 75px;
}

.manifesto {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000;
}
