.list {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  color: black;
  font-weight: 100;
  transition: opacity 0.3s ease;
}

/* Fade non-hovered items when hovering */
.list:has(button:hover) .item {
  opacity: 0.3;
}

.item:has(button:hover) {
  opacity: 1 !important;
}

/* Fade non-active items when one is active */
.hasActive .item {
  opacity: 0.3;
}

.item.active {
  opacity: 1 !important;
}

.item button {
  background: none;
  border: 0;
  font-family: "Hanken Grotesk", system-ui, sans-serif;
  font-weight: 100;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 28px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}

.blurb {
  font-size: 16px;
  font-weight: 200;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  max-width: 450px;
  /* transition: all 0.1s linear; */
}

.blurb p {
  margin: 0;
}

.blurbOpen {
  max-height: 200px;
  opacity: 1;
  margin-top: 8px;
}
